/*AS we had some gooogle fonts so for getting same font-weight etc we had made this */
@tailwind components;

@layer components {
  /*START** font-montserrat-700 font-montserrat-600 */
  .font-montserrat-700,
  .font-montserrat-600 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
  }
  .font-montserrat-700 {
    font-weight: 700;
  }
  .font-montserrat-600 {
    font-weight: 600;
  }
  /* END font-montserrat-700 font-montserrat-600 */

  /* START   font-open-sans- 400 and font-open-sans-700 */
  .font-open-sans-700,
  .font-open-sans-400 {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
  }
  .font-open-sans-700 {
    font-weight: 700;
  }
  .font-open-sans-400 {
    font-weight: 600;
  }
  /*END  font-open-sans- 400 and font-open-sans-700 */
}