import {CommonSeo} from './utils/SeoConst.js'
export default {
   title: CommonSeo.DEFAULT_TITLE,
  description: CommonSeo.DEFAULT_DESCRIPTION,
  openGraph: {
    type: 'website',
    locale: 'en_IE',
    url: 'https://suratmeditates.org',
    siteName: 'Surat Meditates',
  },
  twitter: {
    handle: '@suratmeditates',
    site: '@suratmeditates',
    cardType: 'summary_large_image',
  },
}